body {
  display: flex;
  font-family: Arial;
}

.sidebar {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.products {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  padding: 10px;
  border: 1px solid #ddd;
  width: 150px;
  background: #f9f9f9;
}
