.dropdown{
  position: relative;
  display: inline-block;
  margin: 10px;
}
.dropMenu{
position: absolute;
top: 100%;
left: 0;
display: none;
background: #fff;
border: 1px solid #ccc;
padding: 10px;
z-index: 100;
}
.dropdown.active .dropMenu{
  display: block;
}
.dropBtn{
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  cursor: pointer;
}
.arrow
{
  display: inline-block;
  transition: transform 0.3s ease;
}
.dropdown.active .arrow{
  transform: rotate(180deg);
}